.header {
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  position: relative;
}

.headerContainer {
  width: 100%;
  max-width: 1024px;
  margin: 20px 0 100px 0;
}

.headerContainer.listMode {
  margin: 20px 0 10px 0;
}

.headerList {
  display: flex;
  gap: 40px;
}

.headerListItem {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.headerListItem.active {
  border: 1px solid black;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 10px;
}

.headerDescription {
  margin: 20px 0;
}

.headerBtn {
  background-color: #f9a826;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.headerSearch {
  margin-top: 20px;
  height: 30px;
  background-color: skyblue;
  border: 2px solid transparent;
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
  border-radius: 10px;
  position: absolute;
  bottom: -25px;
  width: 100%;
  max-width: 1024px;
}

.headerIcon {
  width: 25px;
  height: 25px;
  color: black;
}

.headerSearchItem {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 0 10px;
  cursor: pointer;
  position: relative;
}

.headerSearchInput {
  border: none;
  background-color: transparent;
  outline: none;
  width: 100%;
  font-size: 16px;
}

.headerDateRange {
  position: absolute;
  top: 53px;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  top: 50px;
  left: 70px;
  z-index: 1;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
}

.optionsItem {
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}

.optionsItemText {
  font-size: 16px;
}

.optionsItemCounterBtn {
  border: none;
  background-color: #f9a826;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.optionsItemCounterBtn:disabled {
  background-color: #f9a826;
  color: white;
  opacity: 0.5;
  cursor: not-allowed;
}
