.navBar {
  height: 50px;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
}

.navBar-container {
  width: 100%;
  max-width: 1024px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navBar-logo {
  font-weight: 500;
}

.navButton {
  margin-left: 20px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  color: black;
}
